# STM32G474RE Nucleo board configuration

# Copyright (c) 2019 STMicroelectronics.
# SPDX-License-Identifier: Apache-2.0

config BOARD_BLOODLIGHT_REV2
	bool "Bloodlight Development Board"
	depends on SOC_STM32G474XX
